.header {
  display: flex;
  gap: 0.5rem;
  padding: 1rem;
  align-items: center;
}

.input {
  flex: 1;
  padding: 0.5rem;
  font-size: 1rem;
  outline: none;
  border: none;
  border-radius: 4px;
}

.addButton {
  display: flex;
  align-items: center;
  height: 1.5rem;
  background-color: #242424;
  color: white;
  border: none;
}

.addButton:hover {
  background-color: #007bff;
}

@media (max-width: 550px) {
  .header {
    flex-direction: column;
  }
  .addButton{
    width: 65%;
    justify-content: center;
  }
}

@media (max-width: 300px) {
  .input{
    width: 100%;
    word-wrap: break-word;
        overflow-x: scroll;
    padding: 0;
  }
  .addButton{
    width: 100%;
  }
}