.app-main {
  padding: 2% 4%;
  box-sizing: border-box;
}

.app-main-title {
  text-align: center;
}

.app-taskwrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
  width: clamp(50%, 75vw, 100%);
  background-color: white;
  color: black;
  border-radius: 2px;
  box-shadow: 2px 2px 5px grey;
  box-sizing: border-box;
  transition: 0.5s;
}

.app-divider {
  height: 1px;
  background-color: #ddd;
  border: none;
  margin: 0;
}
